body { 
  margin: 0; 
  padding: 0; 
}

button {
  font-size: 1.5em;
  border: none;
  color: white;
  border-radius: 15px;
  font-size: 1.2em;
  padding: 8px 16px;
  text-align: center;
  margin: 20px 10px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

#Start { 
  background-color: black;
}

#map { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
}

.map-overlay {
  position: absolute;
  left: 0;
  padding: 10px;
}